
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html,
body {
    background: #191920;
  font-size: 1rem;
  line-height: 1;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.05rem;
  font-display: auto;
  text-rendering: optimizelegibility;
  color: #fff;
  min-height: 100vh;
  min-height: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
video {
max-width: 100%;
}



.leaderBoard {
    background: #53535366;
    backdrop-filter: blur(12px);
    width: 317px;
    height: 100%;
    margin: 0 auto;
}
.leaderHead {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 16px 14px 27px;
}
.title {
  font-weight: 700;
  line-height: 130%;
  color: #fff;
  margin: 0;
  font-size: 16px;
}
.leadersStatsCont {
    border-top: 1px solid #383838;
    padding: 0 18px 0 12px;
}
.leaderSingle {
  margin: 24px 0 0;
  display: flex;
  align-items: center;
}

.leftCol {
  display: flex;
  align-items: center;
}
svg.rankIcon {
width: 9px;
height: 7px;
}
.rank {
margin: 0 0 0 6px;
font-weight: 600;
font-size: 11px;
line-height: 15px;
color: #fff;
opacity: 0.8;
}

.leaderImg {
margin: 0 0 0 16px;
width: 32px;
height: 32px;
}

img {
width: 100%;
height: 100%;
border-radius: 50%;
}

.nameCont {
margin: 0 0 0 8px;
}

.name {
font-weight: 500;
font-size: 12px;
line-height: 16px;
color: #fff;
}

.correctAns {
margin: 4px 0 0;
font-weight: 800;
font-size: 10px;
line-height: 12px;
color: #939393;
}

.rightCol {
margin: 0 0 0 auto;
}

.points {
font-weight: 800;
font-size: 12px;
line-height: 15px;
text-align: right;
color: #39cd90;
}

.cube-wrap {
  width: 100px;
  height: 100px;
  -webkit-perspective: 2000px;
  -webkit-perspective-origin: 50% -500px;
  position: relative;
  margin: 0 auto;
}

.oi-footer-bottom-ad-btns {
    z-index: 999999999;
}
#cubeIframe{
	z-index: 999999!important;
	bottom: 70px!important;
}
#rv_slb {
    z-index: 9999999999!important;
}
.listical-ad-left{
	height: auto!important;
    min-height: 250px;
}
.assigned_video:after {
  display:none!important;
}
.imgBorder {
height: auto;
}
.oiwb {
    word-break: break-word;
}
.amp-fx-flying-carpet {
    height: 350px!important;
}

.cube_close {
  background: #fff url(https://images.oneindia.com/images/promotional/ad-close-icon.svg) no-repeat 0 0;
  position: relative;
  top: 18px;
  left: 76px;
  z-index: 1000;
  width: 24px;
  height: 24px;
  text-align: center;
  color: #fff;
  display: flex;
  cursor: pointer;
  border-radius: 50%;
}